body {
    font-family: "Ubuntu", sans-serif;
}

section {
    height: 40rem;
    background-color: rgb(198, 198, 198);
    border: solid black 1px;
}

.hero {
    height: 100vh;
    background-color: #14131c;
    border: solid black 1px;
    color: rgb(198, 198, 198);
    font-size: 1.5rem;
}

footer {
    height: 40rem;
    background-color: black;
}

nav {
    display: flex;
    justify-content: space-between;
    margin-left: 1rem;
    margin-top: 1rem;
}

ul {
    display: flex;
    list-style-type: none;
    width: 23rem;
    justify-content: space-between;
    margin-right: 2rem;
    font-size: 1.5rem;
}

li {
   text-decoration: none;
}

h1 {
    font-size: 4rem;
    margin: 2rem;
}
p {
    margin: 2rem;
    font-weight: 300;
}

.hero-area {
    display: flex;
    height: 20%;
    align-items: center;
}

.hero-text {
    margin-left: 2.5rem;
}

.button {
    width: 10rem;
    height: 2.3rem;
    border-radius: 1.3rem;
    background-color: #5f3253;
    text-align: center;
    margin: 2rem;
    padding-top: 5px;
    margin-top: 1rem;
}

.button:hover {
    background-color: #685169;
}

.button:active {
    background-color: darkgrey;
    color:rgb(41, 40, 40)
}

.socials {
    padding-bottom:1.5rem;
    display: flex;
    margin: 2rem;
    justify-content: left;
}

.logo {
height: 7rem;
margin: 1rem;
}

.social {
    margin: 0.5rem;
}
